<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_file" default="$(find small_atc)/data/admiralspb"/>

    <!-- Air traffic controller node -->
    <node name="air_traffic_controller" pkg="small_atc" type="small_atc_node" output="screen">
        <param name="map_file" value="$(arg map_file)"/>
    </node>

    <!-- Global navigation system coordinates converter -->
    <node name="geo_helper" pkg="small_atc" type="geo_helper.py">
        <rosparam command="load" file="$(arg map_file).yaml"/>
    </node>
</launch>
