<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="air_traffic_controller" pkg="small_atc" type="small_atc_node" output="screen">
        <param name="map_file" value="$(find small_atc)/data/tamalpais_park.bt"/>
    </node>
    <node name="geo_helper" pkg="small_atc" type="geo_helper.py"/> 
</launch>
